
body, h1 {
  margin: 0;
  padding: 0;
}

.title-bar {
  background-color: #e65614;
  color: black;
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo img {
  width: 100px; 
  height: 100px; 
}

.title {
  flex: 1; /* Grow to fill the available space */
  text-align: center; /* Center-align text within .title div */
}

.title h1 {
  font-size: 30px;
  text-decoration-color: black;
}

/* Background image for the container below the header */
.background-container {
  background-image: url("ttps://img.freepik.com/free-vector/business-team-discussing-ideas-startup_74855-4380.jpg?w=1380&t=st=1697180859~exp=1697181459~hmac=ad553fa1cbf77c3f86e7103499f0ab8d2715f7980971d2e84697b24e1eacd007"); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fcontainer {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 1px transparent black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.9;
}

.fitem {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9); /* Transparent black background */
  text-align: center;
  border-radius: 10px;
  margin: 60px;
}

.fitem h1 {
  color: gold;
  margin: 10px;
}

.college-name,
.college-name1 {
  text-align: center;
}
